body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f7f7f7;
  color: #000000;
}

.container {
  max-width: 500px;
}

a {
  color: #7da2a9;
}