---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects - Douglas Driving">
	<div class="projects-content">
		<a href="https://bento.me/kizunacollective" target="_blank">
			<img src={import.meta.env.BASE_URL + "/images/projectBanners/kizunaBanner.png"} alt="kizuna collective logo">
		</a>
		<p class="project-description">
			<b><a href="https://bento.me/kizunacollective" target="_blank">kizuna collective</a>, Community Design,
				Current:</b>
			Building a social community for authentic connection in Tokyo.
		</p>

		<a href="https://github.com/douglasdriving/The-Fourth-Wall" target="_blank">
			<img src={import.meta.env.BASE_URL + "/images/projectBanners/4thWallBanner.png"} alt="screenshot from the the fourth wall game">
		</a>
		<p class="project-description">
			<b><a href="https://github.com/douglasdriving/The-Fourth-Wall" target="_blank">The Fourth Wall</a>,
				Game Development, Current:</b>
			A solo project in which I build a first-person exploration game with meta-narrative elements and linguistic game
			mechanics.
		</p>

		<a href="https://douglasdriving.wixsite.com/home/unwritten" target="_blank">
			<img src={import.meta.env.BASE_URL + "/images/projectBanners/unwrittenBanner.png"} alt="screenshots from the unwritten game">
		</a>
		<p class="project-description">
			<b><a href="https://douglasdriving.wixsite.com/home/unwritten" target="_blank">Unwritten</a>,
				Game & app development, 2021-2022:</b>
			A solo project where I built a text-based online game where players write stories together.
		</p>

		<a href="https://douglasdriving.itch.io/" target="_blank">
			<img src={import.meta.env.BASE_URL + "/images/projectBanners/miniGamesBanner.png"} alt="thumbnails from various game projects">
		</a>
		<p class="project-description">
			<b><a href="https://douglasdriving.itch.io/" target="_blank">Small game projects</a>,
				Design and development, 2017-current:</b>
			A collection of small game projects I have worked on solo and in small teams.
		</p>
	</div>
</Layout>

<style>
	.projects-content {
		text-align: left;
		max-width: 800px;
		margin: 0 auto;
	}
	.project-description {
		margin: 1rem 0 2rem 0;
	}
	img {
		width: 100%;
		border-radius: 8px;
		margin-top: 1rem;
	}
</style>
