---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Thoughts - Douglas Driving">
	<div class="thoughts-content">
		<p>Random texts about things that I think about</p>

		<hr>

		<article class="thought">
			<h2>Ambition is my enemy</h2>
			<i>2024-11-28 (added), 2025-01-08 (edited)</i>
			<p>
				I dream about the future of me and what I might become if I try hard enough: a respected thinker, a genius
				creator, a successful entrepreneur. Wherever and whomever I am, I am able to image about a future in which I am more.
				<br><br>
				As I slowly crawl towards him, my ideal self moves forward. There is always a gap. A distance that keeps telling
				me that what I am now is insufficient. Reality is always lacking, never enough.
				<br><br>
				Never reaching the point of enough drains and breaks me down. I never get to pluck the fruit from the tree I am
				growing and experience the joy of being who I am.
				<br><br>
				The solution cannot be to work harder, but to let go; of dreams, of the future, of ambition, and control. To focus
				on being, instead of on becoming.
			</p>
		</article>

		<article class="thought">
			<h2>Capitalist Realism</h2>
			<i>2024-11-28 (added)</i>
			<p>
				I recently read Mark Fischer's 2009 essay "Capitalist Realism," and I want to make a small note here to summarize
				my takeaways and thoughts about it.
				<br><br>
				The essay suggests that capitalism has the power to penetrate and seep into every aspect of society and our lives,
				as it inherently aims to extract profit without care for where that profit comes from. Capitalism is abstract and tricky
				to examine because it is not a single thing but rather a tendency or dynamic that finds its way into everything.
				<br><br>
				Capitalism is powerful because it can perfectly function without an ideology. It is post-ideological. No one needs
				to believe in capitalism as a good political ideal for it to work. It only requires that people accept it as the
				current system we live under and play by its rules. It then takes care of itself.
				<br><br>
				Capitalism has grown dominant because there is no alternative ideology, resulting from a cynicism towards ideals
				as a concept that has emerged from postmodernism. Even if people disagree with capitalism and its consequences, they
				cannot fight it directly simply by disagreeing with its downsides. They need to offer an alternative, a new ideal for
				structuring society that is worthy of believing in and fighting for.
				<br><br>
				The way forward to the next paradigm, thus, is to bring back ideology and start imagining alternatives for how we
				can live together. Ideologies that make us want to believe in something again.
				<br><br>
				I am working on building this ideology for myself.
			</p>
		</article>
	</div>
</Layout>

<style>
	.thoughts-content {
		text-align: left;
		max-width: 700px;
		margin: 0 auto;
	}
	.thought {
		margin: 2rem 0;
	}
	hr {
		margin: 2rem 0;
		border: none;
		border-top: 1px solid #ddd;
	}
	i {
		display: block;
		color: #666;
		margin: 0.5rem 0 1rem;
	}
</style>
